
<%=form_for @post do |f| %>

  <% if @post.errors.any? %>
    
    <p> <%=@post.errors.full_messages[0] %> </p>  
      
  <% end %>
  
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  
  <div class="form-group">
    <%=f.label :title %>
    <%=f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :content %>
    <%=f.text_area :content, :class => "form-control" %>
  </div>
  
  <%= f.file_field :avatar %>

  <%=f.submit :class => "btn btn-default"%>



<% end %>