<p id="alert"><%= alert %></p>


<h1>Super Information</h1>

<table>

  <!-- <th>
    <tr>
      <th>Title</th>
    </tr>
  </th> -->
    
  <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td><%=link_to p.title , p %></td> 

        <!-- <td> <%=link_to "Edit", p, :method => :patch %> </td> -->
        <%if current_user%>
        
        <td>
          <%=link_to "Edit", edit_post_path(p) %>
        </td>

        <td>
          <%= link_to "Delete", p ,:method => :delete, :data => { :confirm => "Are you sure?" } %>
        </td>

        <% end %>


      </tr>
    <% end %>
  </tbody>

</table>

<br>

<% if current_user  %>   <!-- 有登入才顯示新增post表格 -->
  <h2>New Post</h2>
  <%= render "form" %>
<% end %>




<br>
<br>
<%= paginate @posts %>  <!-- kaminari設分頁 -->