<p id="alert"><%= alert %></p>




<h2>
  Listed By
  <%=link_to "Newest Post", posts_path( :order => "created_at desc") %> | 
  <%= link_to "Most Commented", posts_path( :order => "comments_count desc") %> |
  <%=link_to "Recently Commented", posts_path( :order => "comments.created_at desc") %>
</h2> 

<!-- <h2>
  Categories
  <%=link_to "Fun"  %> | 
  <%= link_to "Angry"  %> |
  <%=link_to "Share"  %>
</h2> -->
<%= link_to "<Sort>Fun", posts_path(:sort => "Fun") %>
<%= link_to "<Sort>Angry", posts_path(:sort => "Angry") %>
<%= link_to "<Sort>Share", posts_path(:sort => "Love") %>
<%= link_to "<Sort>None", posts_path %>

<br><br>

<table>

  <!-- <th>
    <tr>
      <th>Title</th>
    </tr>
  </th> -->
    
  <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td>
          <%=link_to p.title , p %> posted at 
          <%= p.created_at%>
          <%="This Post Has #{p.comments.count} Replys" %>

        </td> 
        
        <!-- <td> <%=link_to "Edit", p, :method => :patch %> </td> -->
        <%if current_user%>
        
        <td>
          <%=link_to "Edit", edit_post_path(p) %>
        </td>

        <td>
          <%= link_to "Delete", p ,:method => :delete, :data => { :confirm => "Are you sure?" } %>
        </td>

        <% end %>


      </tr>
    <% end %>
  </tbody>

</table>

<br>

<% if current_user  %>   <!-- 有登入才顯示新增post表格 -->
  <h2>New Post</h2>
  <%= render "form" %>
<% end %>




<br>
<br>
<%= paginate @posts %>  <!-- kaminari設分頁 -->