<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>

<%= @post.content %>


<br>
<br>
<br>
<%=link_to "Edit Post", edit_post_path %>
<br>
<br>


<h2><%="This Post Has #{@post.comments.count} Replys" %></h2>

<% @post.comments.each do |c| %>
  
  <p> 
    <span> <%= c.description %> </span> Posted by 
    <%if c.user %>
      <strong> <%=c.user.nickname%> </strong>at <%= c.created_at.localtime%>
    <%else%>
      <%= "Guest" %>
    <% end %>

   <% if @post.errors.any? %>
    
    <p> <%=@post.errors.full_messages[0] %> </p>  
      
  <% end %>


  </p>

<% end %>

<%= link_to"New Comment", new_post_comment_path(@post.id) %>






























<br>
<br>
<%=link_to "Back to All Posts", posts_path %>
