<!DOCTYPE html>
<html>
<head>
  <title>Practice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
    
    <% if current_user %>     
      Hello, <%= current_user.nickname %> 
         
        
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('修改資料', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('註冊', new_registration_path(:user)) %> |
      <%= link_to('登入', new_session_path(:user)) %> <br> <br>
      <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %>
    <% end %> 
  

</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>






</body>
</html>
